@font-face {
  font-family: "iconfont"; /* Project id 2827582 */
  src: url('iconfont.woff2?t=1632302901898') format('woff2'),
       url('iconfont.woff?t=1632302901898') format('woff'),
       url('iconfont.ttf?t=1632302901898') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianchidianliang:before {
  content: "\e607";
}

.icon-yalichuanganqi:before {
  content: "\e60c";
}

